.embla {
  position: relative;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.embla__viewport.is-dragging {
  cursor: grabbing;
}

.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: -10px;
}

.embla__slide {
  position: relative;
  min-width: 100%;
  padding-left: 10px;
}

.embla__dot {
  cursor: pointer;
  position: relative;
  padding: 0;
  outline: 0;
  border: 0;
}

.embla__dot:after {
  background-color: #efefef;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  content: "";
}

.embla__progress {
  position: relative;
  justify-self: flex-end;
  align-self: center;
  max-width: 90%;
  overflow: hidden;
}
.embla__progress__bar {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: -100%;
}
