/* <<<<<<< felix-blog-page-build */
@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

@layer utilities {
  .blur-1 {
    /* Vector */

    position: absolute;
    width: 68.01px;
    height: 67.84px;
    left: 500.9px;
    top: 66.87px;

    background: #009975;
    opacity: 0.3;
    filter: blur(15px);
    transform: rotate(-75deg);
  }

  .blur-sm-1 {
    /* Vector */
    position: absolute;
    width: 30.11px;
    height: 27.97px;
    left: 89px;
    top: 62.24px;

    /* Primary/Green/800 */

    background: #009975;
    opacity: 0.3;
    filter: blur(15px);
    transform: rotate(-75deg);
  }

  .blur-2 {
    /* Vector */

    position: absolute;
    width: 65.91px;
    height: 67.41px;
    left: 693.21px;
    top: 66px;

    /* Primary/Green/800 */

    background: #009975;
    opacity: 0.3;
    filter: blur(15px);
    transform: matrix(1, -0.03, -0.03, -1, 0, 0);
  }

  .blur-sm-2 {
    position: absolute;
    width: 32.1px;
    height: 32.83px;
    left: 158.08px;
    top: 70.87px;

    /* Primary/Green/800 */

    background: #009975;
    opacity: 0.3;
    filter: blur(15px);
    transform: matrix(1, -0.03, -0.03, -1, 0, 0);
  }

  .blur-3 {
    /* Vector */

    position: absolute;
    width: 51.81px;
    height: 69.5px;
    left: 885.84px;
    top: 66px;

    /* Primary/Green/800 */

    background: #009975;
    opacity: 0.3;
    filter: blur(15px);
    transform: rotate(-75deg);
  }

  .blur-sm-3 {
    /* Vector */

    position: absolute;
    width: 27.18px;
    height: 36.46px;
    left: 223px;
    top: 60.25px;

    /* Primary/Green/800 */

    background: #009975;
    opacity: 0.3;
    filter: blur(15px);
    transform: rotate(-75deg);
  }

  /* Footer */
  .flex-1 {
    flex-grow: 1;
  }

  .flex-3 {
    flex-grow: 3;
  }

  .flex-2 {
    flex-grow: 2;
  }

  /* blog bgImg */
  .bg-blog-image {
    background-image: url("../src/assets/images/blogs-page/blogBg.png");
  }
}
/* =======
@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

@layer utilities {
  .blur-1 { */
    /* Vector */

/*     position: absolute;
    width: 68.01px;
    height: 67.84px;
    left: 500.9px;
    top: 66.87px;

    background: #009975;
    opacity: 0.3;
    filter: blur(15px);
    transform: rotate(-75deg);
  }

  .blur-sm-1 { */
    /* Vector */
/*     position: absolute;
    width: 30.11px;
    height: 27.97px;
    left: 89px;
    top: 62.24px; */

    /* Primary/Green/800 */

/*     background: #009975;
    opacity: 0.3;
    filter: blur(15px);
    transform: rotate(-75deg);
  }

  .blur-2 { */
    /* Vector */
/* 
    position: absolute;
    width: 65.91px;
    height: 67.41px;
    left: 693.21px;
    top: 66px; */

    /* Primary/Green/800 */

/*     background: #009975;
    opacity: 0.3;
    filter: blur(15px);
    transform: matrix(1, -0.03, -0.03, -1, 0, 0);
  }

  .blur-sm-2 {
    position: absolute;
    width: 32.1px;
    height: 32.83px;
    left: 158.08px;
    top: 70.87px;
 */
    /* Primary/Green/800 */

/*     background: #009975;
    opacity: 0.3;
    filter: blur(15px);
    transform: matrix(1, -0.03, -0.03, -1, 0, 0);
  }

  .blur-3 { */
    /* Vector */
/* 
    position: absolute;
    width: 51.81px;
    height: 69.5px;
    left: 885.84px;
    top: 66px; */

    /* Primary/Green/800 */
/* 
    background: #009975;
    opacity: 0.3;
    filter: blur(15px);
    transform: rotate(-75deg);
  }

  .blur-sm-3 { */
    /* Vector */

/*     position: absolute;
    width: 27.18px;
    height: 36.46px;
    left: 223px;
    top: 60.25px; */

    /* Primary/Green/800 */

/*     background: #009975;
    opacity: 0.3;
    filter: blur(15px);
    transform: rotate(-75deg);
  } */

  /* Footer */
/*   .flex-1 {
    flex-grow: 1;
  }

  .flex-3 {
    flex-grow: 3;
  }

  .flex-2 {
    flex-grow: 2;
  }
} */
/* >>>>>>> main */
