@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.scrollbar::-webkit-scrollbar {
  width: 0;
  height: 6px;
  background: rgb(0 102 78 / 0.1);
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #00664e;

  border-radius: 12px;
}

.scrollbar::-webkit-scrollbar-track {
  background: rgb(0 102 78 / 0.1);
  -webkit-box-shadow: inset 0 0 6px rgb(0 102 78 / 0.1);
  border-top: 2px solid #f3f4f5;
  border-bottom: 2px solid #f3f4f5;
}

.hr-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 6px;
  background: rgb(0 102 78 / 0.1);
}

.hr-scrollbar::-webkit-scrollbar-thumb {
  background: #00664e;
  border-radius: 12px;
}

.hr-scrollbar::-webkit-scrollbar-track {
  background: rgb(0 102 78 / 0.1);
  -webkit-box-shadow: inset 0 0 6px rgb(0 102 78 / 0.1);
  border-top: 2px solid #f3f4f5;
  border-bottom: 2px solid #f3f4f5;
}

@media (min-width: 768px) {
  .scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 0;
    background: rgb(0 102 78 / 0.1);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #00664e;

    border-radius: 12px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: rgb(0 102 78 / 0.1);
    -webkit-box-shadow: inset 0 0 6px rgb(0 102 78 / 0.1);
    border-left: 2px solid #f3f4f5;
    border-right: 2px solid #f3f4f5;
  }

  .hr-scrollbar::-webkit-scrollbar {
    width: 6px;
    background: rgb(0 102 78 / 0.1);
  }

  .hr-scrollbar::-webkit-scrollbar-thumb {
    background: #00664e;

    border-radius: 12px;
  }

  .hr-scrollbar::-webkit-scrollbar-track {
    background: rgb(0 102 78 / 0.1);
    -webkit-box-shadow: inset 0 0 6px rgb(0 102 78 / 0.1);
    border-left: 2px solid #f3f4f5;
    border-right: 2px solid #f3f4f5;
  }
}
@layer utilities {
  .blur-1 {
    /* Vector */

    position: absolute;
    width: 68.01px;
    height: 67.84px;
    left: 500.9px;
    top: 66.87px;

    background: rgb(0 102 78 / 0.1);
    opacity: 0.3;
    filter: blur(15px);
    transform: rotate(-75deg);
  }

  .blur-sm-1 {
    /* Vector */
    position: absolute;
    width: 30.11px;
    height: 27.97px;
    left: 89px;
    top: 62.24px;

    /* Primary/Green/800 */

    background: rgb(0 102 78 / 0.1);
    opacity: 0.3;
    filter: blur(15px);
    transform: rotate(-75deg);
  }

  .blur-2 {
    /* Vector */

    position: absolute;
    width: 65.91px;
    height: 67.41px;
    left: 693.21px;
    top: 66px;

    /* Primary/Green/800 */

    background: rgb(0 102 78 / 0.1);
    opacity: 0.3;
    filter: blur(15px);
    transform: matrix(1, -0.03, -0.03, -1, 0, 0);
  }

  .blur-sm-2 {
    position: absolute;
    width: 32.1px;
    height: 32.83px;
    left: 158.08px;
    top: 70.87px;

    /* Primary/Green/800 */

    background: rgb(0 102 78 / 0.1);
    opacity: 0.3;
    filter: blur(15px);
    transform: matrix(1, -0.03, -0.03, -1, 0, 0);
  }

  .blur-3 {
    /* Vector */

    position: absolute;
    width: 51.81px;
    height: 69.5px;
    left: 885.84px;
    top: 66px;

    /* Primary/Green/800 */

    background: rgb(0 102 78 / 0.1);
    opacity: 0.3;
    filter: blur(15px);
    transform: rotate(-75deg);
  }

  .blur-sm-3 {
    /* Vector */

    position: absolute;
    width: 27.18px;
    height: 36.46px;
    left: 223px;
    top: 60.25px;

    /* Primary/Green/800 */
    background: rgb(0 102 78 / 0.1);
    opacity: 0.3;
    filter: blur(15px);
    transform: rotate(-75deg);
  }

  .bg-primary-blue {
    background-color: rgb(0 102 78 / 0.1);
  }

  /* Footer */
  .flex-1 {
    flex-grow: 1;
  }

  .flex-3 {
    flex-grow: 3;
  }

  .flex-2 {
    flex-grow: 2;
  }

  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flex-start {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .flex-half {
    flex: 1;
  }

  .first-letter::first-letter {
    font-weight: bold;
    font-size: 3rem;
  }

  /* blog bgImg */
  .bg-blog-image {
    background-image: url("../src/assets/images/blogs-page/blogBg.png");
  }
}

/* Hero Image */

/* Creative Shapes */

.creative-shapes {
  position: relative;
  width: 1432px;
  height: 519px;
  left: 0px;
  top: 0px;
}

.ellipse {
  position: absolute;
  border-radius: 50%;
  transition:
    transform 3s,
    filter 3s;
}

/* Ellipse 115 */

.ellipse115 {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 0px;
  top: 277px;

  background: #cfe2dc;
  opacity: 0.25;
}

/* Ellipse 116 */

.ellipse116 {
  position: absolute;
  width: 28px;
  height: 28px;
  left: 87px;
  top: 207px;

  background: #63968b;
}

/* Ellipse 117 */

.ellipse117 {
  position: absolute;
  width: 101px;
  height: 101px;
  left: 50px;
  top: 246px;

  background: #d9d9d9;
}

/* Ellipse 118 */

.ellipse118 {
  position: absolute;
  width: 131px;
  height: 137px;
  left: 151px;
  top: 221px;

  background: #d9d9d9;
}

/* Ellipse 132 */

.ellipse132 {
  position: absolute;
  width: 98px;
  height: 102px;
  left: 184px;
  top: 331px;

  background: #d9d9d9;
}

/* Ellipse 119 */

.ellipse119 {
  position: absolute;
  width: 33px;
  height: 35px;
  left: 134px;
  top: 347px;

  background: #63968b;
}

/* Ellipse 133 */

.ellipse133 {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 178px;
  top: 440px;

  background: #d9d9d9;
  opacity: 0.25;
}

/* Ellipse 134 */

.ellipse134 {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 300px;
  top: 394px;

  background: url(.jpg), #63968b;
}

/* Ellipse 172 */

.ellipse172 {
  position: absolute;
  width: 42px;
  height: 42px;
  left: 435px;
  top: 458px;

  background: #63968b;
}

/* Ellipse 173 */

.ellipse173 {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 496px;
  top: 474px;

  background: #d9d9d9;
}

/* Ellipse 174 */

.ellipse174 {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 532px;
  top: 470px;

  background: url(.jpg);
  opacity: 0.25;
}

/* Ellipse 175 */

.ellipse175 {
  position: absolute;
  width: 156px;
  height: 156px;
  left: 451px;
  top: 313px;

  background: #d9d9d9;
}

/* Ellipse 176 */

.ellipse176 {
  position: absolute;
  width: 91px;
  height: 91px;
  left: 413px;
  top: 331px;

  background: url(.jpg), #d9d9d9;
}

/* Ellipse 135 */

.ellipse135 {
  position: absolute;
  width: 59px;
  height: 59px;
  left: 283px;
  top: 335px;

  background: #63968b;
}

/* Ellipse 136 */

.ellipse136 {
  position: absolute;
  width: 121px;
  height: 121px;
  left: 333px;
  top: 331px;

  background: #d9d9d9;
}

/* Ellipse 120 */

.ellipse120 {
  position: absolute;
  width: 65px;
  height: 69px;
  left: 200px;
  top: 138px;

  background: url(.jpg), #d9d9d9;
}

/* Ellipse 124 */

.ellipse124 {
  position: absolute;
  width: 69px;
  height: 69px;
  left: 200px;
  top: 138px;

  background: #d9d9d9;
}

/* Ellipse 125 */

.ellipse125 {
  position: absolute;
  width: 69px;
  height: 69px;
  left: 278px;
  top: 177px;

  background: #d9d9d9;
  opacity: 0.25;
}

/* Ellipse 126 */

.ellipse126 {
  position: absolute;
  width: 172px;
  height: 172px;
  left: 289px;
  top: 199px;

  background: #d9d9d9;
}

/* Ellipse 121 */

.ellipse121 {
  position: absolute;
  width: 45px;
  height: 45px;
  left: 278px;
  top: 116px;

  background: #60968b;
}

/* Ellipse 127 */

.ellipse127 {
  position: absolute;
  width: 91px;
  height: 91px;
  left: 328px;
  top: 116px;

  background: url(.jpg);
}

/* Ellipse 128 */

.ellipse128 {
  position: absolute;
  width: 131px;
  height: 131px;
  left: 389px;
  top: 30px;

  background: #d9d9d9;
}

/* Ellipse 129 */

.ellipse129 {
  position: absolute;
  width: 160px;
  height: 160px;
  left: 479px;
  top: 56px;

  background: #b3cbc4;
  opacity: 0.45;
}

/* Ellipse 130 */

.ellipse130 {
  position: absolute;
  width: 79px;
  height: 79px;
  left: 406px;
  top: 152px;

  background: #63968b;
}

/* Ellipse 131 */

.ellipse1311 {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 450px;
  top: 199px;

  background: #609a8f;
  opacity: 0.75;
}

/* Ellipse 122 */

.ellipse122 {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 242px;
  top: 108px;

  background: url(.jpg), #60968b;
}

/* Ellipse 123 */

.ellipse123 {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 361px;
  top: 26px;

  background: #60968b;
}

/* Ellipse 137 */

.ellipse137 {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 575px;
  top: 30px;

  background: #60968b;
}

/* Ellipse 138 */

.ellipse138 {
  position: absolute;
  width: 90px;
  height: 90px;
  left: 603px;
  top: 0px;

  background: #d9d9d9;
}

/* Ellipse 139 */

.ellipse139 {
  position: absolute;
  width: 116px;
  height: 124px;
  left: 650px;
  top: 70px;

  background: url(.jpg), #d9d9d9;
}

/* Ellipse 140 */

.ellipse140 {
  position: absolute;
  width: 124px;
  height: 124px;
  left: 650px;
  top: 70px;

  background: #d9d9d9;
}

/* Ellipse 141 */

.ellipse141 {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 580px;
  top: 136px;

  background: #d9d9d9;
}

/* Ellipse 142 */

.ellipse142 {
  position: absolute;
  width: 210px;
  height: 210px;
  left: 602px;
  top: 184px;

  background: url(.jpg), #d9d9d9;
}

/* Ellipse 143 */

.ellipse143 {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 564px;
  top: 324px;

  background: #d9d9d9;
}

/* Ellipse 144 */

.ellipse144 {
  position: absolute;
  width: 137px;
  height: 137px;
  left: 591px;
  top: 382px;

  background: #d9d9d9;
}

/* Ellipse 145 */

.ellipse145 {
  position: absolute;
  width: 82px;
  height: 88px;
  left: 716px;
  top: 391px;

  background: #668c83;
}

/* Ellipse 177 */

.ellipse177 {
  position: absolute;
  width: 59px;
  height: 63px;
  left: 762px;
  top: 336px;

  background: url(.jpg), #668c83;
}

/* Ellipse 178 */

.ellipse178 {
  position: absolute;
  width: 59px;
  height: 63px;
  left: 775px;
  top: 264px;

  background: #d9d9d9;
}

/* Ellipse 146 */

.ellipse146 {
  position: absolute;
  width: 141px;
  height: 151px;
  left: 792px;
  top: 360px;

  background: #d9d9d9;
}

/* Ellipse 156 */

.ellipse156 {
  position: absolute;
  width: 61px;
  height: 61px;
  left: 937px;
  top: 420px;

  background: #d9d9d9;
  opacity: 0.35;
}

/* Ellipse 157 */

.ellipse157 {
  position: absolute;
  width: 85px;
  height: 85px;
  left: 1002px;
  top: 404px;

  background: url(.jpg), #d9d9d9;
}

/* Ellipse 179 */

.ellipse179 {
  position: absolute;
  width: 54px;
  height: 54px;
  left: 1019px;
  top: 336px;

  background: #6d837d;
}

/* Ellipse 158 */

.ellipse158 {
  position: absolute;
  width: 121px;
  height: 121px;
  left: 1072px;
  top: 325px;

  background: #81918d;
  opacity: 0.85;
}

/* Ellipse 164 */

.ellipse164 {
  position: absolute;
  width: 128px;
  height: 137px;
  left: 1105px;
  top: 223px;

  background: #d9d9d9;
}

/* Ellipse 165 */

.ellipse165 {
  position: absolute;
  width: 121px;
  height: 121px;
  left: 1232px;
  top: 212px;

  background: url(.jpg), #d9d9d9;
}

/* Ellipse 167 */

.ellipse167 {
  position: absolute;
  width: 84px;
  height: 84px;
  left: 1337px;
  top: 227px;

  background: #d9d9d9;
}

/* Ellipse 168 */

.ellipse168 {
  position: absolute;
  width: 56px;
  height: 56px;
  left: 1266px;
  top: 325px;

  background: #acb0af;
  opacity: 0.55;
}

/* Ellipse 169 */

.ellipse169 {
  position: absolute;
  width: 34px;
  height: 34px;
  left: 1193px;
  top: 350px;

  background: #707b79;
}

/* Ellipse 170 */

.ellipse170 {
  position: absolute;
  width: 29px;
  height: 29px;
  left: 1091px;
  top: 450px;

  background: #6d837d;
}

/* Ellipse 171 */

.ellipse171 {
  position: absolute;
  width: 29px;
  height: 29px;
  left: 1403px;
  top: 229px;

  background: #737574;
}

/* Ellipse 166 */

.ellipse166 {
  position: absolute;
  width: 56px;
  height: 56px;
  left: 1260px;
  top: 171px;

  background: #d9d9d9;
}

/* Ellipse 147 */

.ellipse147 {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 817px;
  top: 213px;

  background: url(.jpg), #d9d9d9;
}

/* Ellipse 148 */

.ellipse148 {
  position: absolute;
  width: 115px;
  height: 115px;
  left: 766px;
  top: 119px;

  background: #d9d9d9;
}

/* Ellipse 151 */

.ellipse151 {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 881px;
  top: 159px;

  background: #698981;
}

/* Ellipse 149 */

.ellipse149 {
  position: absolute;
  width: 82px;
  height: 82px;
  left: 805px;
  top: 45px;

  background: #ced8d6;
  opacity: 0.55;
}

/* Ellipse 152 */

.ellipse152 {
  position: absolute;
  width: 106px;
  height: 106px;
  left: 870px;
  top: 57px;

  background: url(.jpg), #d9d9d9;
}

/* Ellipse 153 */

.ellipse153 {
  position: absolute;
  width: 125px;
  height: 125px;
  left: 956px;
  top: 69px;

  background: #d9d9d9;
}

/* Ellipse 159 */

.ellipse159 {
  position: absolute;
  width: 160px;
  height: 160px;
  left: 1055px;
  top: 86px;

  background: url(.jpg);
}

/* Ellipse 160 */

.ellipse160 {
  position: absolute;
  width: 105px;
  height: 105px;
  left: 1198px;
  top: 90px;

  background: #d9d9d9;
}

/* Ellipse 161 */

.ellipse161 {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 1039px;
  top: 39px;

  background: #d1d6d6;
  opacity: 0.25;
}

/* Ellipse 162 */

.ellipse162 {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 1005px;
  top: 45px;

  background: #6b8781;
}

/* Ellipse 163 */

.ellipse163 {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 1198px;
  top: 83px;

  background: #6f7e7b;
}

/* Ellipse 154 */

.ellipse154 {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 949px;
  top: 133px;

  background: #d9d9d9;
  opacity: 0.15;
}

/* Ellipse 155 */

.ellipse155 {
  position: absolute;
  width: 160px;
  height: 160px;
  left: 966px;
  top: 210px;

  background: #d9d9d9;
}

/* Ellipse 150 */

.ellipse150 {
  position: absolute;
  width: 52px;
  height: 52px;
  left: 741px;
  top: 54px;

  background: #649186;
}

/* Rectangle 18291 */

/* .rectangle18291 {
  position: absolute;
  width: 1436px;
  height: 523px;
  left: 0px;
  top: 0px;

  background: linear-gradient(
    96.14deg,
    #59a896 10.62%,
    #737373 96.48%,
    #00664e 96.48%
  );
} */

/* Ellipse 147 */

.ellipse147 {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 817px;
  top: 213px;

  background: url("./assets/Landing Page Images/Ellipse 147.png");
}

/* Ellipse 1411 */

.ellipse1411 {
  position: absolute;
  width: 210px;
  height: 210px;
  left: 602px;
  top: 184px;

  background: url("./assets/Landing Page Images/Ellipse 1411.png");
}

/* Ellipse 128 */

.ellipse128 {
  position: absolute;
  width: 131px;
  height: 131px;
  left: 389px;
  top: 30px;

  background: url("./assets/Landing Page Images/Ellipse 128.png");
}

/* Ellipse 142 */

.ellipse142 {
  position: absolute;
  width: 101px;
  height: 101px;
  left: 50px;
  top: 246px;

  background: url("./assets/Landing Page Images/Ellipse 142.png"), #d9d9d9;
}

/* Ellipse 175 */

.ellipse175 {
  position: absolute;
  width: 156px;
  height: 156px;
  left: 451px;
  top: 313px;

  background: url("./assets/Landing Page Images/Ellipse 175.png");
}

/* Ellipse 146 */

.ellipse146 {
  position: absolute;
  width: 141px;
  height: 151px;
  left: 792px;
  top: 360px;

  background: url("./assets/Landing Page Images/Ellipse 146.png");
}

/* Ellipse 159 */

.ellipse159 {
  position: absolute;
  width: 160px;
  height: 160px;
  left: 1055px;
  top: 86px;

  background: url("./assets/Landing Page Images/Ellipse 159.png");
}

/* Ellipse 167 */

.ellipse167 {
  position: absolute;
  width: 84px;
  height: 84px;
  left: 1337px;
  top: 227px;

  background: url("./assets/Landing Page Images/Ellipse 167.png");
}

/* Ellipse 160 */

.ellipse160 {
  position: absolute;
  width: 105px;
  height: 105px;
  left: 1198px;
  top: 90px;

  background: url("./assets/Landing Page Images/Ellipse 160.png"), #d9d9d9;
}

/* Ellipse 118 */

.ellipse118 {
  position: absolute;
  width: 131px;
  height: 137px;
  left: 151px;
  top: 221px;

  background: url("./assets/Landing Page Images/Ellipse 118.png");
}

/* Ellipse 138 */

.ellipse138 {
  position: absolute;
  width: 90px;
  height: 90px;
  left: 603px;
  top: 0px;

  background: url("./assets/Landing Page Images/Ellipse 138.png");
}

/* Ellipse 141 */

.ellipse141 {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 580px;
  top: 136px;

  background: url("./assets/Landing Page Images/Ellipse 141.png");
}

/* Ellipse 157 */

.ellipse157 {
  position: absolute;
  width: 85px;
  height: 85px;
  left: 1002px;
  top: 404px;

  background: url("./assets/Landing Page Images/Ellipse 157.png");
}

/* Ellipse 132 */

.ellipse132 {
  position: absolute;
  width: 98px;
  height: 102px;
  left: 184px;
  top: 331px;

  background: url("./assets/Landing Page Images/Ellipse 132.png"), #d9d9d9;
}

/* Ellipse 131 */

.ellipse131 {
  position: absolute;
  width: 172px;
  height: 172px;
  left: 289px;
  top: 199px;

  background: url("./assets/Landing Page Images/Ellipse 131.png");
}

/* Ellipse 136 */

.ellipse136 {
  position: absolute;
  width: 121px;
  height: 121px;
  left: 333px;
  top: 331px;

  background: url("./assets/Landing Page Images/Ellipse 136.png");
}

/* Ellipse 124 */

.ellipse124 {
  position: absolute;
  width: 69px;
  height: 69px;
  left: 200px;
  top: 138px;

  background: url("./assets/Landing Page Images/Ellipse 124.png"), #d9d9d9;
}

/* Ellipse 164 */

.ellipse164 {
  position: absolute;
  width: 128px;
  height: 137px;
  left: 1105px;
  top: 223px;

  background: url("./assets/Landing Page Images/Ellipse 164.png"), #d9d9d9;
}

/* Ellipse 165 */

.ellipse165 {
  position: absolute;
  width: 121px;
  height: 121px;
  left: 1232px;
  top: 212px;

  background: url("./assets/Landing Page Images/Ellipse 165.png");
}

/* Ellipse 148 */

.ellipse148 {
  position: absolute;
  width: 115px;
  height: 115px;
  left: 766px;
  top: 119px;

  background: url("./assets/Landing Page Images/Ellipse 148.png");
}

/* Ellipse 152 */

.ellipse152 {
  position: absolute;
  width: 106px;
  height: 106px;
  left: 870px;
  top: 57px;

  background: url("./assets/Landing Page Images/Ellipse 152.png");
}

/* Ellipse 153 */

.ellipse153 {
  position: absolute;
  width: 125px;
  height: 125px;
  left: 956px;
  top: 69px;

  background: url("./assets/Landing Page Images/Ellipse 153.png");
}

/* Ellipse 155 */

.ellipse155 {
  position: absolute;
  width: 160px;
  height: 160px;
  left: 966px;
  top: 210px;

  background: url("./assets/Landing Page Images/Ellipse 155.png");
}

/* Ellipse 127 */

.ellipse127 {
  position: absolute;
  width: 137px;
  height: 137px;
  left: 591px;
  top: 382px;

  background: url("./assets/Landing Page Images/Ellipse 127.png");
}

/* Ellipse 117 */

.ellipse117 {
  position: absolute;
  width: 124px;
  height: 124px;
  left: 650px;
  top: 70px;

  background: url("./assets/Landing Page Images/Ellipse 117.png");
}
